In [2]:
import findspark

findspark.init()

In [3]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [4]:
from pyspark.sql import SQLContext
from pyspark import SparkContext

#sqlContext = SQLContext(sc)

In [5]:
sc = SparkContext.getOrCreate();

In [6]:
#sqlContext = pyspark.SQLContext(pyspark.SparkContext())
sqlContext = pyspark.SQLContext(sc)

In [7]:
source_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost:3306/hrsample',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='employeeinfo',
          user='newuser',
          password='newuser').load()

In [8]:
source_df

DataFrame[employee_num: int, first_name: string, last_name: string, city: string, state: string]

In [20]:
from pyspark.sql import MySqlContext
dataframe_mysql = mySqlContext.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/my_bd_name",
    driver = "com.mysql.jdbc.Driver",
    dbtable = "my_tablename",
    user="root",
    password="root").load()

ImportError: cannot import name 'MySqlContext'

NameError: name 'sqlContext' is not defined