### Notes
Start with cmd: jupyter notebook C:\Development\github\server-python

In [1]:
import findspark

findspark.init('/mnt/c/Users/Spark/')

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
from pyspark.sql import SQLContext
from pyspark import SparkContext

#sqlContext = SQLContext(sc)

In [4]:
sc = SparkContext.getOrCreate();

In [5]:
#sqlContext = pyspark.SQLContext(pyspark.SparkContext())
sqlContext = pyspark.SQLContext(sc)

In [6]:
recruiting = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost:3306/hrsample',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='recruiting',
          user='newuser',
          password='newuser').load()

deskhistory = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost:3306/hrsample',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='deskhistory',
          user='newuser',
          password='newuser').load()

In [7]:
recruiting.head()

Row(employee_num=16684, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999)

In [8]:
#import os
#os.environ["SPARK_CLASSPATH"] = 'C:/Users/Spark/jars/postgresql-42.2.9.jar'

In [9]:
# postgres test
# Download the PostgreSQL JDBC Driver from https://jdbc.postgresql.org/download.html.
# anaconda prompt: export SPARK_CLASSPATH=C:\Program Files\PostgreSQL
# none of above, update path using above
#CHECK ERROR HERE
employeeinfo = sqlContext.read.format('jdbc').options(
          url='jdbc:postgresql://localhost:5432/postgres',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='employeeinfo',
          user='newuser',
          password='newuser').load()

In [10]:
employeeinfo.head(5)

[Row(employee_num=3, first_name='Lana', last_name='Chrostowski', city='Utica', state='MS'),
 Row(employee_num=20, first_name='Justine', last_name='Kopiasz', city='Milnor', state='ND'),
 Row(employee_num=21, first_name='Claude', last_name='Feldman', city='Woodville', state='AL'),
 Row(employee_num=38, first_name='Ronald', last_name='Finona', city='West Glover', state='VT'),
 Row(employee_num=39, first_name='Stewart', last_name='Pruess', city='Martin', state='OH')]

In [11]:
recruiting.head(10)

[Row(employee_num=16684, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=29068, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=19507, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=7504, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=2549, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=8869, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=21041, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=9968, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=34070, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=1265, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999)]

In [13]:
# sqlite setup and connection
# driver here: https://bitbucket.org/xerial/sqlite-jdbc/downloads/sqlite-jdbc-3.8.6.jar
# store to C:\Program Files\sqlite\sqlite-jdbc-3.8.6.jar (I don't think this works)
# also store here: C:\Users\Spark\jars\sqlite-jdbc-3.8.6.jar
# NOTUSED:pyspark --conf spark.executor.extraClassPath=<jdbc.jar> --driver-class-path <jdbc.jar> --jars <jdbc.jar> --master <master-URL>
# chmod 775 /home/newuser/anaconda3/lib/python3.7/site-packages/pyspark/java_gateway.py
# pyspark --conf spark.executor.extraClassPath=mnt/c/sqlite/sqlite-jdbc-3.8.6.jar --driver-class-path mnt/c/sqlite/sqlite-jdbc-3.8.6.jar --jars mnt/c/sqlite/sqlite-jdbc-3.8.6.jar 
dfsqlite = sqlContext.read.format('jdbc').options(url='jdbc:sqlite:my_db.sqlite3', dbtable='deskhistory',driver='org.sqlite.JDBC').load()

#sqlCtx.read.format("jdbc").options(url ="jdbc:sqlite:E:/Databases/devtest.db", driver="org.sqlite.JDBC", dbtable="bin_data").load().take(10)

In [14]:
dfsqlite.head()

Row(employee_num=154797, desk_id=1, desk_id_start_date=10592.0, desk_id_end_date=17897.0, termination_flag=0, promotion_flag=0)

In [ ]:
dfsqlite = sqlContext.read.format('jdbc').\

     options(url='jdbc:sqlite:my_db.sqlite3',\

     dbtable='deskhistory',driver='org.sqlite.JDBC').load()

dfsqlite.printSchema() to see your schema.

In [ ]:

#Yuck 
import sqlite3
import pandas as pd

db_path = '/mnt/c/Users/Anyone/Desktop/Toss/my_db.sqlite3'

query = 'SELECT * from deskhistory'

conn = sqlite3.connect(db_path)

a_pandas_df = pd.read_sql_query(query, conn)

a_spark_df = SQLContext.createDataFrame(a_pandas_df)

In [ ]:
emp_rec = employeeinfo.join(recruiting, employeeinfo.employee_num == recruiting.employee_num)

In [ ]:
emp_rec.show(10)

In [ ]:
# Below not needed