### Notes
Start with cmd: jupyter notebook C:\Development\github\server-python

In [1]:
import findspark

findspark.init('/mnt/c/Users/Spark/')

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
from pyspark.sql import SQLContext
from pyspark import SparkContext

#sqlContext = SQLContext(sc)

In [4]:
sc = SparkContext.getOrCreate();

In [5]:
#sqlContext = pyspark.SQLContext(pyspark.SparkContext())
sqlContext = pyspark.SQLContext(sc)

In [6]:
recruiting = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost:3306/hrsample',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='recruiting',
          user='newuser',
          password='newuser').load()

deskhistory = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost:3306/hrsample',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='deskhistory',
          user='newuser',
          password='newuser').load()

In [7]:
recruiting.head()

Row(employee_num=16684, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999)

In [8]:
#import os
#os.environ["SPARK_CLASSPATH"] = 'C:/Users/Spark/jars/postgresql-42.2.9.jar'

In [9]:
# postgres test
# Download the PostgreSQL JDBC Driver from https://jdbc.postgresql.org/download.html.
# anaconda prompt: export SPARK_CLASSPATH=C:\Program Files\PostgreSQL
# none of above, update path using above
#CHECK ERROR HERE
employeeinfo = sqlContext.read.format('jdbc').options(
          url='jdbc:postgresql://localhost:5432/postgres',
          #driver='com.mysql.jdbc.Driver',
          #driver='com.mysql.cj.jdbc.Driver',
          dbtable='employeeinfo',
          user='newuser',
          password='newuser').load()

In [10]:
employeeinfo.head(5)

[Row(employee_num=3, first_name='Lana', last_name='Chrostowski', city='Utica', state='MS'),
 Row(employee_num=20, first_name='Justine', last_name='Kopiasz', city='Milnor', state='ND'),
 Row(employee_num=21, first_name='Claude', last_name='Feldman', city='Woodville', state='AL'),
 Row(employee_num=38, first_name='Ronald', last_name='Finona', city='West Glover', state='VT'),
 Row(employee_num=39, first_name='Stewart', last_name='Pruess', city='Martin', state='OH')]

In [11]:
recruiting.head(10)

[Row(employee_num=16684, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=29068, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=19507, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=7504, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=2549, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=8869, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=21041, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=9968, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=34070, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999),
 Row(employee_num=1265, recruiting_source='NA', first_contact_date=datetime.date(1999, 1, 1), recruiter_employee_num=9999999)]

In [16]:
#sqlite test, untested
# driver here: https://bitbucket.org/xerial/sqlite-jdbc/downloads/sqlite-jdbc-3.8.6.jar
# store to C:\Program Files\sqlite\sqlite-jdbc-3.8.6.jar
# NOTUSED:pyspark --conf spark.executor.extraClassPath=<jdbc.jar> --driver-class-path <jdbc.jar> --jars <jdbc.jar> --master <master-URL>
# chmod 775 /home/newuser/anaconda3/lib/python3.7/site-packages/pyspark/java_gateway.py
# pyspark --conf spark.executor.extraClassPath=mnt/c/sqlite/sqlite-jdbc-3.8.6.jar --driver-class-path mnt/c/sqlite/sqlite-jdbc-3.8.6.jar --jars mnt/c/sqlite/sqlite-jdbc-3.8.6.jar 
dfsqlite = sqlContext.read.format('jdbc').options(url='jdbc:sqlite:my_db.sqlite3', dbtable='deskhistory',driver='org.sqlite.JDBC').load()

Py4JJavaError: An error occurred while calling o56.load.
: java.lang.ClassNotFoundException: org.sqlite.JDBC
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:471)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:45)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:35)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:32)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:318)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:167)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [ ]:
dfsqlite = sqlContext.read.format('jdbc').\

     options(url='jdbc:sqlite:my_db.sqlite3',\

     dbtable='deskhistory',driver='org.sqlite.JDBC').load()

dfsqlite.printSchema() to see your schema.

In [15]:

#Yuck 
import sqlite3
import pandas as pd

db_path = '/mnt/c/Users/Anyone/Desktop/Toss/my_db.sqlite3'

query = 'SELECT * from deskhistory'

conn = sqlite3.connect(db_path)

a_pandas_df = pd.read_sql_query(query, conn)

a_spark_df = SQLContext.createDataFrame(a_pandas_df)

In [14]:
emp_rec = employeeinfo.join(recruiting, employeeinfo.employee_num == recruiting.employee_num)

In [15]:
emp_rec.show(10)

+------------+----------+-----------+--------------+-----+------------+-----------------+------------------+----------------------+
|employee_num|first_name|  last_name|          city|state|employee_num|recruiting_source|first_contact_date|recruiter_employee_num|
+------------+----------+-----------+--------------+-----+------------+-----------------+------------------+----------------------+
|         496|   Clinton|     Perlow|Horseshoe Bend|   ID|         496|           indeed|        2009-06-19|                  1635|
|        6654|     Arwen|    Allcock|     Hawthorne|   CA|        6654|     ziprecruiter|        2015-02-18|                  3929|
|        7754|   Patrica|     Rubens|       Bedford|   IN|        7754|    careerbuilder|        2007-10-18|                 19574|
|        7982|      Fred|    Grothen|        Nelson|   GA|        7982|               NA|        1999-01-01|               9999999|
|        8592|   Nanette| Lefrancois|     Ridgeview|   SD|        8592|        glassdoor|        2009-11-18|                  3322|
|       12027|  Timmothy|   Nerbonne|         GFAFB|   ND|       12027|         #MISSING|        2002-12-14|                   470|
|       15447|    Buford|Schonberger|       Atlanta|   GA|       15447|     ziprecruiter|        2014-04-02|                 40839|
|       19204|    Kareem|    Batalla|     Mc Donald|   TN|       19204|        glassdoor|        2008-05-20|                 41539|
|       19984|      Joey|      Quain|      Ferndale|   CA|       19984|          monster|        2002-07-14|                 27300|
|       20382|    Martin|     Bosque|   Lake Zurich|   IL|       20382|          monster|        2015-01-07|                 23215|
+------------+----------+-----------+--------------+-----+------------+-----------------+------------------+----------------------+
only showing top 10 rows

In [ ]:
# Below not needed